{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1d0ca88510.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
   
{% block content %}

{% endblock content %}

{% block newsletter %}
    <!-- newsletter form -->
 <hr>
 <div class="container">


 <div class="row p-y-2 text-muted">
   <div class="col-md-6 col-xl-5">
     <p><strong>Join Our Newsletter</strong></p>
     <p>Python Cameroon bring python programming to people everywhere to help them achieve their dreams and change the world.</p>
   </div>
   <div class="col-md-6 col-xl-5 col-xl-offset-2">
     <p><strong>Stay up-to-date with Python Cameron Activities </strong></p>
     <div class="input-group">
       <input type="text" class="form-control" placeholder="Email">
       <span class="input-group-btn">
         <button class="btn btn-primary" type="button">Sign up</button>
       </span>
     </div>
   </div>
 </div>
</div>
 <hr><!-- /newsletter form -->
{% endblock newsletter %}


<!-- Footer starts-->
<footer>
<!-- Copyright -->
<div class="small text-center">&copy;<script>document.write(new Date().getFullYear())</script> (PYCUG) Python Cameroon User Group | 
    Designed & Developed with ❤️ and  ☕️ . All the souce code available on github

</div>
<!-- Copyright -->

    <a style="position: fixed; top: 100%; right: 0;" class="gh-fork"
        href="https://github.com/Python-Cameroun/pythoncm-website">
        <img src="https://raw.github.com/anasnakawa/kalendae-skins/gh-pages/images/forkme-red.png"
            alt="Fork me on GitHub">
    </a>


</footer>
<!-- Footer ends-->




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="{% static 'js/main.js' %}"></script>


{% block scripts %}
{% endblock scripts %}
</body>

</html>