{% extends 'core/base.html' %}
{% load static %}
{% block title %} Code of conduct {% endblock title %}







{% block content %}
<div class="container mt-5">
    {% include 'core/nav.html' %}
</div>
<div class="jumbotron">
    <div class="container">

    </div>
</div>
<section class="container">
    <div class="card ">
        <div class="container m-3 p-3">
            <h1 class="title">Code of conduct </h1>
            <p class="rounded bg-yellow p-4">Python Cameroon is a welcoming developer community that maintains a
                friendly and inspiring reputation. We’d like to keep it that way, which is why we ask all members,
                attendees, organizers and sponsors to follow this code of conduct (CoC).</p>
        </div>

    </div>
    <div class="card mt-3">
        <p>
            The Python community is made up of members from around the globe with a diverse set of skills,
            personalities, and experiences. It is through these differences that our community experiences great
            successes and continued growth. When you’re working with members of the community, we encourage you to
            follow these guidelines which help steer our interactions and strive to keep Python a positive,
            successful, and growing community.<br> <strong> A member of the Python community is:</strong>
        </p>
    </div>

        <div class="row">


            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="card-body h-70">
                        <h5 class="card-title display-4 text-red">Open</h5>
                        <p class="card-text">
                            Members of the community are open to collaboration, whether it’s on PEPs, patches,
                            problems, or otherwise. We’re receptive to constructive comments and criticism, as the
                            experiences and skill sets of other members contribute to the whole of our efforts.
                            We’re accepting of all who wish to take part in our activities, fostering an environment
                            where anyone can participate and everyone can make a difference.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="card-body h-70">
                        <h5 class="card-title display-4 text-red text-center">Considerate</h5>
                        <p class="card-text">
                            Members of the community are considerate of their peers — other Python users. We’re thoughtful when addressing the efforts of others, keeping in mind that often times the labor was completed simply for the good of the community. We’re attentive in our communications, whether in person or online, and we’re tactful when approaching differing views.
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mt-3">
                    <div class="card-body h-70">
                        <h5 class="card-title display-4 text-red text-center">Respectful</h5>
                        <p class="card-text">
                            Members of the community are respectful. We’re respectful of others, their positions, their skills, their commitments, and their efforts. We’re respectful of the volunteer efforts that permeate the Python community. We’re respectful of the processes set forth in the community, and we work within them. When we disagree, we are courteous in raising our issues. Overall, we’re good to each other. We contribute to this community not because we have to, but because we want to. If we remember that, these guidelines will come naturally.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mt-3">
                    <p class="text-muted text-center">
                        If you have questions regarding this CoC, please contact any of Python Cameroon organizers.
                    </p>
            </div>
            </div>

            



    </div>
</section>

{% endblock content %}