{% extends 'core/base.html' %}
{% load static %}
{% block title %} Contact us  {% endblock title %} 




{% block content %}
<div class="container mt-5">
{% include 'core/nav.html' %}
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
  </div>
<section class="container">
    <div class="card h-60">
        <div class="container m-3 p-3">
            <h1 class="title">Contact us today </h1>

            <p>
                Python Cameroon is a collection of kindred spirits that assemble at least once a month to discuss the awesomeness of Python.
            </p>
            <p>
                The community started out in 2014 as a small core group that could fit comfortably around a pub table. In the recent years we have expanded considerably. We definitely no longer a can fit around just one pub table.
            </p>
            <p>
                The meet ups generally consist of one or two talks, some announcements of any community activities and a wrap up in the nearest pub. The atmosphere is welcoming with banter and questions flowing freely. The type of people attending range from complete beginners getting a feel for the language to the Python evangelists who eat, sleep & dream Python.
            </p>
        </div>
     
    </div>
</section>

{% endblock content %} 
